{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>눈싸움게임</title>
<link rel="stylesheet" type="text/css" href="{% static '/css/game.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/css/snow.css' %}">
<script type="text/javascript" src="{% static 'js/ismobile.js' %}"></script>
<script type="text/javascript" src="{% static '/js/snow.js' %}?v=6"></script>
	<meta charset="utf-8">
	<meta id="viewport" name="viewport" content="width=device-width, initial-scale=0.4, maximum-scale=1, user-scalable=no">
</head>
<body>
<script type="text/javascript">
var object = new Game();
SnowGame.Start();
</script>
<!-- <div class="dev_mode">
	<div>개발자모드</div>
	<div class="onoffswitch">
	    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
	    <label class="onoffswitch-label" for="myonoffswitch"></label>
	</div>
</div> -->
</body>
</html>